{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<div class="detail-big-image-section">
<div class="container">
    <div class="detail-title text-center">
        <h2>{{ self.detail_title }}</h2>
        <div class="detail-subtitle text-center">
            <h5>Showreel  /  {{ self.detail_title }}</h5>
        </div>
    </div>

    <div class="detail-description">
        {{self.detail_description|richtext}}
    </div>
</div>
<section class="details-wrapper">
    <div class="container-fluid">
        <div class="row details-row">
                {% for block in page.detail_content %}
                    {% if block.block_type == "Detail" %}
                <div class="col-lg-4">
                    <div class="reel-video">
                        {% image block.value.detail_video_image scale-100 as img %}
                        <img src="{{img.url}}" alt="{{img.alt}}" class="reel-video-portfolio-image">

                        <div class="play-button-wrapper">
                            <div title="Play video" class="play-gif" id="circle-play-b">
                                <img src="/media/original_images/playbutton.png" class="play-button" data-toggle="modal" data-target={{block.value.detail_video_target}}>
                            </div>
                        </div>
                    </div>
        
                    <div class="video-title">
                        <h2>{{ block.value.detail_video_title }}</h2>
                    </div>

                    <div class="modal fade" id={{block.value.detail_video_id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-md-4 ml-auto">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" style="color:white;">&times;</span>
                                </button>
                                </div>
                            </div>
                            <div class="modal-body text-center">
                                <iframe width="800" height="500" src={{block.value.detail_video_link}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
    </div>

</section>

{% endblock %}



  